*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: peachpuff
}

.calculator {
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(5, 6rem);
}

.width-two {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}